# OSX
#
.DS_Store

**/node_modules

Node/test/inputData.js
Node/test/dist/*
Node/test/test
Node/fs/stream/output/*
widget/changeJS/output
widget/rzip/data/*
widget/rzip/storeKey.js
widget/rzip/password.sh
widget/csv/input

代码规范/qkRn/*
!代码规范/qkRn/ReactNative.md

Node/zip_test/*.zip
Node/myServer/*.zip
