# OSX
#
.DS_Store

**/node_modules

widget/changeJS/output
widget/rzip/data/*
widget/rzip/storeKey.js
widget/rzip/password.sh
widget/csv/input

代码规范/qkRn/*
!代码规范/qkRn/ReactNative.md

Node/test/inputData.js
Node/test/dist/*
Node/test/test
Node/fs/stream/output/*
Node/zip_test/*.zip
Node/myServer/*.zip
Node/patu/image
# Node/爬虫/data.json
# Node/爬虫/newData.json
Node/爬虫/*.json
Node/爬虫/china/*.json
Node/爬虫/mid/*.json
Node/爬虫/world/*.json
Node/爬虫/world/output/*.json
Node/爬虫/world/output/*.txt
!Node/爬虫/world/historyMap.json

widget/微信文档地区名称转换/wxData.json
widget/微信文档地区名称转换/a.txt

Vue/study/study.js